@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] p{
	font-style: italic;
	text-align: center;
}

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

@supports(shape-outside: polygon(100% 0, 100% 100%, 0 100%)){
	/* Align right edge to diagonal. Works in Kobo and Calibre, ignored by Kindle. */
	section[epub|type~="dedication"] p::before{
		content: "";
		display: block;
		float: right;
		height: 12em;
		shape-outside: polygon(100% 0, 100% 100%, 0 100%);
		width: 4em;
	}

	section[epub|type~="dedication"] p{
		text-align: right;
	}
}
