@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] {
   max-width: 20em;
   margin-left: auto;
   margin-right: auto;
}

section[epub|type~="dedication"] p{
	margin-top: 3em;
	text-align: right;
	line-height: 1.67em;
}
